# Auth DB
AUTH_DB_URL=postgresql://auth_user:auth_pass@auth-db:5432/auth_db

# Patient DB
PATIENT_DB_URL=postgresql://patient_user:patient_pass@patient-db:5432/patient_db

# Notes DB
NOTES_DB_URL=postgresql://notes_user:notes_pass@notes-db:5432/notes_db

# Audit DB
AUDIT_DB_URL=postgresql://audit_user:audit_pass@audit-db:5432/audit_db

# JWT
SECRET_KEY=supersecreto-cambia-esto-por-64-caracteres-aleatorios
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=8

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@clinica.com
PGADMIN_DEFAULT_PASSWORD=admin123

# URLs internas entre servicios
PATIENT_SERVICE_URL=http://patient-service:8002
AUDIT_SERVICE_URL=http://audit-service:8004
